<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-model : 将表单元素的输入值和变量绑定 
        -->
        <input type="text" v-model="msg">
        <p>{{msg}}</p>
        <!-- v-model的完整写法：
             :value="msg"  @input="e=>msg=e.target.value"

        v-model="msg"本身是一个语法糖，是 :value="msg"  @input="e=>msg=e.target.value" 的简写形式
         -->
        <input type="text" v-bind:value="msg" v-on:input="e=>msg=e.target.value">
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                msg:'hello'
            },
            // methods: {
            //     myinput(e){
            //         this.msg=e.target.value;
            //     }
            // },
        })
    </script>
</body>
</html>